<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://java.sun.com/xml/ns/j2ee">
 	<welcome-file-list>
        <welcom-file>index.html</welcom-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>project.ListProjectsServlet</servlet-name>
        <servlet-class>project.ListProjectsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>project.ListProjectsServlet</servlet-name>
        <url-pattern>/index.html</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>requirement.ListRequirementsServlet</servlet-name>
        <servlet-class>requirement.ListRequirementsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>requirement.ListRequirementsServlet</servlet-name>
        <url-pattern>/listRequirements.html</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AuthorizationServlet</servlet-name>
        <servlet-class>AuthorizationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AuthorizationServlet</servlet-name>
        <url-pattern>/authorization.html</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ExitServlet</servlet-name>
        <servlet-class>ExitServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ExitServlet</servlet-name>
        <url-pattern>/exit.html</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>user.ListUsersServlet</servlet-name>
        <servlet-class>user.ListUsersServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>user.ListUsersServlet</servlet-name>
        <url-pattern>/listUsers.html</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>user.DeleteUserServlet</servlet-name>
        <servlet-class>user.DeleteUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>user.DeleteUserServlet</servlet-name>
        <url-pattern>/deleteUser.html</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>user.EditUserServlet</servlet-name>
        <servlet-class>user.EditUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>user.EditUserServlet</servlet-name>
        <url-pattern>/editUser.html</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>user.SaveUserServlet</servlet-name>
        <servlet-class>user.SaveUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>user.SaveUserServlet</servlet-name>
        <url-pattern>/saveUser.html</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>requirement.DeleteRequirementServlet</servlet-name>
        <servlet-class>requirement.DeleteRequirementServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>requirement.DeleteRequirementServlet</servlet-name>
        <url-pattern>/deleteRequirement.html</url-pattern>
    </servlet-mapping>
     <servlet>
        <servlet-name>requirement.EditRequirementServlet</servlet-name>
        <servlet-class>requirement.EditRequirementServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>requirement.EditRequirementServlet</servlet-name>
        <url-pattern>/editRequirement.html</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>requirement.SaveRequirementServlet</servlet-name>
        <servlet-class>requirement.SaveRequirementServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>requirement.SaveRequirementServlet</servlet-name>
        <url-pattern>/saveRequirement.html</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>project.SaveProjectServlet</servlet-name>
        <servlet-class>project.SaveProjectServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>project.SaveProjectServlet</servlet-name>
        <url-pattern>/saveProject.html</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>project.DeleteProjectServlet</servlet-name>
        <servlet-class>project.DeleteProjectServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>project.DeleteProjectServlet</servlet-name>
        <url-pattern>/deleteProject.html</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>project.EditProjectServlet</servlet-name>
        <servlet-class>project.EditProjectServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>project.EditProjectServlet</servlet-name>
        <url-pattern>/editProject.html</url-pattern>
    </servlet-mapping>
    
   	<filter>
        <filter-name>filter.SecurityFilter</filter-name>
        <filter-class>filter.SecurityFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>filter.SecurityFilter</filter-name>
        <url-pattern>/exit.html</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>filter.SecurityFilter</filter-name>
        <url-pattern>/listUsers.html</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>filter.SecurityFilter</filter-name>
        <url-pattern>/deleteUser.html</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>filter.SecurityFilter</filter-name>
        <url-pattern>/editUser.html</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>filter.SecurityFilter</filter-name>
        <url-pattern>/saveUser.html</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>filter.SecurityFilter</filter-name>
        <url-pattern>/editRequirement.html</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>filter.SecurityFilter</filter-name>
        <url-pattern>/saveRequirement.html</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>filter.SecurityFilter</filter-name>
        <url-pattern>/deleteRequirement.html</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>filter.SecurityFilter</filter-name>
        <url-pattern>/editProject.html</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>filter.SecurityFilter</filter-name>
        <url-pattern>/deleteProject.html</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>filter.SecurityFilter</filter-name>
        <url-pattern>/saveProject.html</url-pattern>
    </filter-mapping>
    
    <filter>
        <filter-name>filter.AdministratorFilter</filter-name>
        <filter-class>filter.AdministratorFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>filter.AdministratorFilter</filter-name>
        <url-pattern>/listUsers.html</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>filter.AdministratorFilter</filter-name>
        <url-pattern>/deleteUser.html</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>filter.AdministratorFilter</filter-name>
        <url-pattern>/editUser.html</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>filter.AdministratorFilter</filter-name>
        <url-pattern>/saveUser.html</url-pattern>
    </filter-mapping>
    
    <filter>
        <filter-name>filter.BusinessAnalystFilter</filter-name>
        <filter-class>filter.BusinessAnalystFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>filter.BusinessAnalystFilter</filter-name>
        <url-pattern>/editRequirement.html</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>filter.BusinessAnalystFilter</filter-name>
        <url-pattern>/saveRequirement.html</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>filter.BusinessAnalystFilter</filter-name>
        <url-pattern>/deleteRequirement.html</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>filter.BusinessAnalystFilter</filter-name>
        <url-pattern>/editProject.html</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>filter.BusinessAnalystFilter</filter-name>
        <url-pattern>/saveProject.html</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>filter.BusinessAnalystFilter</filter-name>
        <url-pattern>/deleteProject.html</url-pattern>
    </filter-mapping>
    
    <error-page>
        <exception-type>javax.servlet.ServletException</exception-type>
        <location>/WEB-INF/jsp/error/error.jsp</location>
    </error-page>
    
</web-app>